@{
    ViewBag.Title = "About";
}

<h2>TKS Financial</h2>

<p>
    We at TKS Financial created our Financial Calculator app to provide you with
    a quick, easy means of estimating the return of a simple investment.  You
    simply enter a monthly amount of money to invest, the annual interest rate
    of the instrument (savings account, money market account, CD, etc.), and
    the number of years you expect to invest.
</p>
<p>
    Please let us know if this app is helpful for you!  Future additions to this
    app, as well as possible new apps, depend on the feedback we receive.
</p>

<img src="~/images/equation.jpg" alt="success equation" style="border-radius:20px;width:100%;" class="col-md-4" />
