@{
    ViewBag.Title = "Contact";
}
<h2 class="page-title text-info">TKS Financial</h2>
<h3>Serving your investment needs since 1983</h3>

<address>
    123 Any Street<br />
    Traverse City, MI  49684<br />
    <abbr title="Phone">P: </abbr>
    231.INVEST!<br /><br />
    <strong>Email Us:  </strong><a href="mailto:MakeMeMoney@now.com">MakeMeMoney@now.com</a><br />
</address>